version: "3.7"
services:
  dashboard-dev:
    image: erasme/co2-dashboard:latest
    build:
      context: dashboard/
      target: "dev"
    volumes:
      - ./dashboard/src/:/app/src
      - ./dashboard/package.json:/app/package.json
      - ./dashboard/package-lock.json:/app/package-lock.json
    ports:
      - "5173:5173"
    env_file:
      - .env

  api:
    image: erasme/co2-api:latest
    build:
      context: api/
    volumes:
      - ./api/:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
  
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
  
  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3001:3000"
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
  prometheus-data: